abesportfolio.com.config

server {
  listen 80;
  listen [::]:80;
  root /home/ubuntu/UnifiedPortfolio/Portfolio/frontend;
  index index.html;
  server_name abesportfolio.com;

  location / {
    try_files $uri $uri/ =404;
  }
}

server {
  listen [::]:443 ssl;
  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/abesportfolio.com/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/abesportfolio.com/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/portfolio-options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/portfolio-ssl-dhparams.pem; # managed by Certbot

  root /home/ubuntu/UnifiedPortfolio/Portfolio/frontend;
  index index.html;
  server_name abesportfolio.com;

  location / {
    try_files $uri $uri/ =404;
  }
}