triviacards.net.config

server {
  listen 80;
  listen [::]:80;
  root /home/ubuntu/UnifiedPortfolio/Flashcards/frontend;
  index index.html;
  server_name triviacards.net;

  location / {
    try_files $uri $uri/ =404;
  }
}

server {
##  listen [::]:443 ssl ipv6only=on; # managed by Certbot
  listen [::]:443 ssl;
  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/triviacards.net/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/triviacards.net/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/flashcards-options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/flashcards-ssl-dhparams.pem; # managed by Certbot

  root /home/ubuntu/UnifiedPortfolio/Flashcards/frontend;
  index index.html;
  server_name triviacards.net;

  location / {
    try_files $uri $uri/ =404;
  }
}